In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/Apartment Building Evaluation.csv')

In [4]:
df.head()

,_id,RSN,YEAR_REGISTERED,YEAR_EVALUATED,YEAR_BUILT,PROPERTY_TYPE,WARD,WARDNAME,SITE_ADDRESS,CONFIRMED_STOREYS,...,EXTERIOR_WALKWAYS,BALCONY_GUARDS,WATER_PEN_EXT_BLDG_ELEMENTS,PARKING_AREA,OTHER_FACILITIES,GRID,LATITUDE,LONGITUDE,X,Y
0,4167486,4304347,NaN,NaN,1999.0,PRIVATE,2,Etobicoke Centre,** CREATED IN ERROR ** 399 THE WEST MALL,22,...,5.0,5.0,5.0,5.0,5.0,W0233,43.643781,-79.565456,299503.625,4833538.964
1,4167487,5157421,2023.0,NaN,1973.0,TCHC,17,Don Valley North,6 TREE SPARROWAY,4,...,3.0,5.0,4.0,3.0,4.0,N1721,43.791384,-79.369630,315272.148,4849932.515
2,4167488,5156814,2023.0,NaN,1973.0,TCHC,17,Don Valley North,13 FIELD SPARROWAY,4,...,4.0,5.0,4.0,3.0,4.0,N1721,43.790920,-79.368771,315334.815,4849906.373
3,4167489,5157387,2023.0,NaN,1973.0,TCHC,17,Don Valley North,4 TREE SPARROWAY,4,...,3.0,5.0,4.0,3.0,4.0,N1721,43.791448,-79.369332,315291.755,4849938.162
4,4167490,5156871,2023.0,NaN,1973.0,TCHC,17,Don Valley North,2 TREE SPARROWAY,4,...,5.0,5.0,4.0,3.0,4.0,N1721,43.791511,-79.369045,315330.308,4849947.465

In [5]:
df.columns

Index(['_id', 'RSN', 'YEAR_REGISTERED', 'YEAR_EVALUATED', 'YEAR_BUILT',
       'PROPERTY_TYPE', 'WARD', 'WARDNAME', 'SITE_ADDRESS',
       'CONFIRMED_STOREYS', 'CONFIRMED_UNITS', 'EVALUATION_COMPLETED_ON',
       'SCORE', 'RESULTS_OF_SCORE', 'NO_OF_AREAS_EVALUATED', 'ENTRANCE_LOBBY',
       'ENTRANCE_DOORS_WINDOWS', 'SECURITY', 'STAIRWELLS', 'LAUNDRY_ROOMS',
       'INTERNAL_GUARDS_HANDRAILS', 'GARBAGE_CHUTE_ROOMS',
       'GARBAGE_BIN_STORAGE_AREA', 'ELEVATORS', 'STORAGE_AREAS_LOCKERS',
       'INTERIOR_WALL_CEILING_FLOOR', 'INTERIOR_LIGHTING_LEVELS', 'GRAFFITI',
       'EXTERIOR_CLADDING', 'EXTERIOR_GROUNDS', 'EXTERIOR_WALKWAYS',
       'BALCONY_GUARDS', 'WATER_PEN_EXT_BLDG_ELEMENTS', 'PARKING_AREA',
       'OTHER_FACILITIES', 'GRID', 'LATITUDE', 'LONGITUDE', 'X', 'Y'],
      dtype='object')

In [33]:
df.duplicated().sum()

0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11760 entries, 0 to 11759
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          11760 non-null  int64
 1   RSN                          11760 non-null  int64
 2   YEAR_REGISTERED              11455 non-null  float64
 3   YEAR_EVALUATED               9751 non-null   float64
 4   YEAR_BUILT                   11714 non-null  float64
 5   PROPERTY_TYPE                11760 non-null  object
 6   WARD                         11760 non-null  int64
 7   WARDNAME                     11760 non-null  object
 8   SITE_ADDRESS                 11760 non-null  object
 9   CONFIRMED_STOREYS            11760 non-null  int64
 10  CONFIRMED_UNITS              11760 non-null  int64
 11  EVALUATION_COMPLETED_ON      11760 non-null  object
 12  SCORE                        11760 non-null  int64
 13  RESULTS_OF_SCORE             11760 non-null  object
 14  NO_OF_AREAS_EVALUATED        11760 non-null  int64
 15  ENTRANCE_LOBBY               11758 non-null  float64
 16  ENTRANCE_DOORS_WINDOWS       11759 non-null  float64
 17  SECURITY                     11754 non-null  float64
 18  STAIRWELLS                   11757 non-null  float64
 19  LAUNDRY_ROOMS                11104 non-null  float64
 20  INTERNAL_GUARDS_HANDRAILS    11757 non-null  float64
 21  GARBAGE_CHUTE_ROOMS          5102 non-null   float64
 22  GARBAGE_BIN_STORAGE_AREA     11749 non-null  float64
 23  ELEVATORS                    6897 non-null   float64
 24  STORAGE_AREAS_LOCKERS        4773 non-null   float64
 25  INTERIOR_WALL_CEILING_FLOOR  11758 non-null  float64
 26  INTERIOR_LIGHTING_LEVELS     11758 non-null  float64
 27  GRAFFITI                     11721 non-null  float64
 28  EXTERIOR_CLADDING            11751 non-null  float64
 29  EXTERIOR_GROUNDS             11745 non-null  float64
 30  EXTERIOR_WALKWAYS            11754 non-null  float64
 31  BALCONY_GUARDS               7973 non-null   float64
 32  WATER_PEN_EXT_BLDG_ELEMENTS  11754 non-null  float64
 33  PARKING_AREA                 10704 non-null  float64
 34  OTHER_FACILITIES             2254 non-null   float64
 35  GRID                         11760 non-null  object
 36  LATITUDE                     11533 non-null  float64
 37  LONGITUDE                    11533 non-null  float64
 38  X                            11671 non-null  float64
 39  Y                            11671 non-null  float64
dtypes: float64(27), int64(7), object(6)
memory usage: 3.6+ MB

In [55]:
df.isna().sum()/df.shape[0]*100

_id                             0.000000
RSN                             0.000000
YEAR_REGISTERED                 2.593537
YEAR_EVALUATED                 17.083333
YEAR_BUILT                      0.391156
PROPERTY_TYPE                   0.000000
WARD                            0.000000
WARDNAME                        0.000000
SITE_ADDRESS                    0.000000
CONFIRMED_STOREYS               0.000000
CONFIRMED_UNITS                 0.000000
EVALUATION_COMPLETED_ON         0.000000
SCORE                           0.000000
RESULTS_OF_SCORE                0.000000
NO_OF_AREAS_EVALUATED           0.000000
ENTRANCE_LOBBY                  0.017007
ENTRANCE_DOORS_WINDOWS          0.008503
SECURITY                        0.051020
STAIRWELLS                      0.025510
LAUNDRY_ROOMS                   5.578231
INTERNAL_GUARDS_HANDRAILS       0.025510
GARBAGE_CHUTE_ROOMS            56.615646
GARBAGE_BIN_STORAGE_AREA        0.093537
ELEVATORS                      41.352041
STORAGE_AREAS_LOCKERS          59.413265
INTERIOR_WALL_CEILING_FLOOR     0.017007
INTERIOR_LIGHTING_LEVELS        0.017007
GRAFFITI                        0.331633
EXTERIOR_CLADDING               0.076531
EXTERIOR_GROUNDS                0.127551
EXTERIOR_WALKWAYS               0.051020
BALCONY_GUARDS                 32.202381
WATER_PEN_EXT_BLDG_ELEMENTS     0.051020
PARKING_AREA                    8.979592
OTHER_FACILITIES               80.833333
GRID                            0.000000
LATITUDE                        1.930272
LONGITUDE                       1.930272
X                               0.756803
Y                               0.756803
dtype: float64